<p>
  <click-me></click-me>
</p>

<p>
  <click-me2></click-me2>
</p>
<br>

<h4>多个组件放入同一个文件</h4>
<h4>key-up1: 响应keyup事件</h4>
<div><key-up1></key-up1></div>

<h4>key-up2: 更简洁方法获取input的值</h4>
<div><key-up2></key-up2></div>

<h4>key-up3: 只响应enter键事件</h4>
<div><key-up3></key-up3></div>

<h4>key-up4: 失去焦点时的blur事件和enter键事件</h4>
<div><key-up4></key-up4></div>

<h4>loop-back: 实时显示输入内容</h4>
<div><loop-back></loop-back></div>
<br>

<h4>增加一个英雄</h4>
<!--<p><i>Add a new hero</i></p>-->
<div><little-tour></little-tour></div>
